body {
	background-color: gray;
	margin: 0px;
	padding: 0px;
}

#botoes {
	width: 150px;
	padding: 30px;
	display: flex;
	justify-content: center;

	align-items: center;
	border: 3px solid black;
	margin: 20px;


}




#container {
	width: 100vh;
	height: 100%;
	padding: 30px;
	align-items: center;
	border: 3px solid black;
	display: flex;
	justify-content: center;


}

#predio {
	width: 200px;
	height: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 3px solid black;
}

.janela {
	width: 50px;
	height: 50px;
	border: 3px solid black;
	margin: 10px;
}


































